{% extends './base.html' %}
{% load static %}
{% block lan %}
                    <li><a class="dropdown-item" href="{% url 'akimshilik' %}">қаз</a></li>
                    <li><a class="dropdown-item" href="{% url 'akimshilik_eng' %}">en</a></li>
{% endblock %}

{% block content %}
      <!-- --------------------KIRISPE--------------- -->
      <div class="kirispe">
        <a href="#">
          <img src="{% static 'img/kirispe.png'%}" alt="">
          <div class="title">
            <div class="container">
              <h1>SCHOOL GOVERNMENT</h1>
            </div>
          </div>
        </a>
      </div>





        <!-- ----------------STUFF ----------------->
<div class="container">

    <div class="stuff">
      <h1 id="title_stuff">Our stuff</h1>
      <div class="boxes">

          <div class="member" id="1">
            <img src="{% static 'img/director.jpg'%}" alt="">
            <div class="about-member">
                <h1>Erkin Esirkegenuly</h1>
                <p>Principle</p>
            </div>
          </div>

          <div class="member" id="2">
            <img src="{% static 'img/Aigerim.jpg'%}" alt="">
            <div class="about-member">
                <h1>Otegenova Aigerim Erbolkyzy</h1>
                <p>Deputy director for Academic Affairs</p>
            </div>
          </div>

          <div class="member" id="3">
            <img src="{% static 'img/Zholdasbaev.jpg'%}" alt="">
            <div class="about-member">
                <h1>Zholdasbaev Zhasulan Tasbolatuly</h1>
                <p>Deputy director for Public Works</p>
            </div>
          </div>

          <div class="member" id="4">
            <img src="{% static 'img/Akerke.jpg'%}" alt="">
            <div class="about-member">
                <h1>Akylbek Dariga Makhambetkyzy</h1>
                <p>Deputy director for educational work</p>
            </div>
          </div>




      </div>

      <div class="boxes">

        <div class="member" id="1">
          <img src="{% static 'img/bukhalter.jpg'%}" alt="">
          <div class="about-member">
              <h1>Zhomartova Nazym</h1>
              <p>Accountant</p>
          </div>
        </div>

        <div class="member" id="2">
          <img src="{% static 'img/HR.jpg'%}" alt="">
          <div class="about-member">
              <h1>Mussabekova Assem</h1>
              <p>HR</p>
          </div>
        </div>

        <div class="member" id="3">
          <img src="{% static 'img/medbike.jpg'%}" alt="">
          <div class="about-member">
              <h1>Kudaibergen Aidana</h1>
              <p>Nurse</p>
          </div>
        </div>

        <div class="member" id="4">
          <img src="{% static 'img/kassir.jpg'%}" alt="">
          <div class="about-member">
              <h1>Malik Sunkar</h1>
              <p>Coordinator cashier</p>
          </div>
        </div>




    </div>

    <div class="boxes">

        <div class="member" id="1">
          <img src="{% static 'img/SMM.jpg'%}" alt="">
          <div class="about-member">
              <h1>Erubai Dinara Bakytbekkyzy</h1>
              <p>SMM</p>
          </div>
        </div>




    </div>

    </div>
  </div>




  <div class="container">

    <div class="akimshilik-text">
        <h1>EDUCATION PROGRAM</h1>
    <p>The curriculum includes the domestic curriculum and the programs of Educational Innovation lyceums. Program grades 1-9
      includes periods between.Participation in extracurricular activities in our Lyceum is very important for the development of students
      is. Therefore, our school offers different clubs depending on the needs of students.English levels
      for the development of speech, intelligence aimed at solving problems, dombra for teaching values, as well as many classes
      there are circles outside the tan. This training program is developed in accordance with the quality standard of education and is evaluated externally
      there is a reason for parents to fully trust the reports they receive about their children's progress.</p>

    <h1>Rating system</h1>
    <p><b>«LEADER»</b> In the innovative Lyceum, the academic performance of students is monitored through the "Kundelik" system, as well as this system
      teachers, students and parents leader.edu.kz can use the same via the link on the internet. On the part of the school administration
      the established assessment system consists of components that include exams, homework, class work, and practical work.
      These components have different coefficients depending on the class and subjects. For each component, students are given the highest
      of the 100 points counted, a certain number of points are awarded. Teachers can rate each component with an unlimited number.</p>
    </div>

</div>






{% endblock %}