{% extends './base.html' %}
{% load static %}
 {% block lan %}
                    <li><a class="dropdown-item" href="{% url 'bailanys' %}">қаз</a></li>
                    <li><a class="dropdown-item" href="{% url 'bailanys_eng' %}">en</a></li>
{% endblock %}

{% block content %}

      <!-- --------------------KIRISPE--------------- -->
      <div class="kirispe">
        <a href="#">
          <img src="{% static 'img/kirispe.png'%}" alt="">
          <div class="title">
            <div class="container">
              <h1>COMMUNICATION</h1>
            </div>
          </div>
        </a>
      </div>





      <!-- ---------------------------INTRO------------------ -->

      <div class="container">
        <div class="intro">

          <!-- <div class="text"> -->
              <div class="about" style="width: 100%;">
                <b><p>Phone number</p></b>

                <ul>
                    <li><p>+77078006383</p></li>
                    <li><p>+77078006383</p></li>
                </ul>

                <b><p>General questions</p></b>

                <ul>
                    <li><p>Too-liderxxi@mail.ru</p></li>
                </ul>

                <b><p>Postal address</p></b>

                <ul>
                    <li><p>160011</p></li>
                </ul>
                

              </div>
            </div>
        </div>
      </div>





      <!-- ----------------------MAP------------------- -->

      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2948.0115238370536!2d69.59410475092567!3d42.36359367908443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38a91c8cc15d2f2d%3A0x9359e49e7e6ce49d!2sArgynbekova%20St%201180%2C%20Shymkent!5e0!3m2!1sen!2skz!4v1680257972009!5m2!1sen!2skz" width="100%" height="610px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>


{% endblock %}