{% extends './base.html' %}
{% load static %}
 {% block lan %}
                    <li><a class="dropdown-item" href="{% url 'forma' %}">қаз</a></li>
                    <li><a class="dropdown-item" href="{% url 'forma_eng' %}">en</a></li>
{% endblock %}

{% block content %}


      <!-- --------------------KIRISPE--------------- -->
      <div class="kirispe">
        <a href="#">
          <img src="{% static 'img/kirispe.png'%}" alt="">
          <div class="title">
            <div class="container">
              <h1>UNIFORM</h1>
            </div>
          </div>
        </a>
      </div>





      <!-- ---------------------------INTRO------------------ -->

      <div class="container">
        <div class="intro">

          <!-- <div class="text"> -->
              <div class="about">
                <b><p>Uniform</p></b>
                <p>Wearing a school uniform is a symbol of pride, a unique feature of the school and an integral part of being a student. We hope that wearing school uniforms will make students feel safe at school, as well as prevent social inequality. According to the results of the study, wearing a uniform at school is the reason for the following positive results:</p>

                <ul>
                    <li><p>The absence and delay of classes are reduced</p></li>
                    <li><p>The difficulty decreases with discipline</p></li>
                    <li><p>The number of school dropouts decreases</p></li>
                    <li><p>Improving academic performance</p></li>
                </ul>




                

              </div>
           
            </div>

        </div>
      </div>




      <!-- ---------------------------FORMA IMAGES------------------------ -->
      <div class="container">
        <b><h2 style="width: 80%; margin: auto auto 5%;">The school uniform is in the sample below:</h2></b>

        <div class="pupils mb-5">
          <div class="boxes" >
        
              <div class="gallery-category" id="1">
                <img src="{% static 'img/pupils.png'%}" alt="">
                <div class="about-member">
                    <h1></h1>
                </div>
              </div>
        
              <div class="gallery-category" id="2">
                <img src="{% static 'img/pupils2.png'%}" alt="">
                <div class="about-member">
                    <h1></h1>
                </div>
              </div>
        
              <div class="gallery-category" id="3">
                <img src="{% static 'img/pupils3.png'%}" alt="">
                <div class="about-member">
                    <h1></h1>
                </div>
              </div>
        
      
          </div>



        </div>
    </div>



{% endblock %}