{% extends './base.html' %}
{% load static %}
 {% block lan %}
                    <li><a class="dropdown-item" href="{% url 'gallery' %}">қаз</a></li>
                    <li><a class="dropdown-item" href="{% url 'gallery_eng' %}">en</a></li>
{% endblock %}

{% block content %}


      <!-- --------------------KIRISPE--------------- -->
      <div class="kirispe">
        <a href="#">
          <img src="{% static 'img/kirispe.png'%}" alt="">
          <div class="title">
            <div class="container">
              <h1>GALLERY</h1>
            </div>
          </div>
        </a>
      </div>





      
<!-- ----------------STUFF ----------------->
<div class="container">

    <div class="gallery">
      <div class="boxes">
    
          <div class="gallery-category" id="1">
            <img src="{% static 'img/pupils.png'%}" alt="">
              <a href="pupils-en.html">
                <div class="about-member">
                  <h1>STUDENTS</h1>
              </div>
              </a>
          </div>
    
          <div class="gallery-category" id="2">
            <img src="{% static 'img/teachers.png'%}" alt="">
              <a href="teachers-en.html">
                <div class="about-member">
                  <h1>TEACHERS</h1>
              </div>
              </a>
          </div>
    
          <div class="gallery-category" id="3">
            <img src="{% static 'img/activities.png' %}" alt="">
              <a href="activities-en.html">
                <div class="about-member">
                  <h1 >ACTIVITIES</h1>
              </div>
              </a>
          </div>
    
  
      </div>
    </div>
  </div>
  
  
  
  
  
  
  {% endblock %}