{% extends './base.html' %}
{% load static %}
 {% block lan %}
                    <li><a class="dropdown-item" href="{% url 'kirispe' %}">қаз</a></li>
                    <li><a class="dropdown-item" href="{% url 'kirispe_eng' %}">en</a></li>
{% endblock %}

{% block content %}



      <!-- --------------------KIRISPE--------------- -->
      <div class="kirispe">
        <a href="#">
          <img src="{% static 'img/kirispe.png'%}" alt="">
          <div class="title">
            <div class="container">
              <h1>INTRODUCTION</h1>
            </div>
          </div>
        </a>
      </div>





      <!-- ---------------------------INTRO------------------ -->

      <div class="container">
        <div class="intro">

          <div class="intro-img">
            <img src="{% static 'img/principle2.png'%}" alt="">
          </div>

          <div class="text">
              <div class="about">
                <p style="margin-top: 5%;"> Welcome to <b>«LEADER»</b> Innovation lyceum web-site.</p>

                <p><b>«LEADER»</b> Innovation Lyceum is a horde that provides its students with education on the basis of the domestic curriculum and programs of educational innovation lyceums.</p>

              <p>We are proud to have an active school community. Based on values, we contribute to the formation of each student as an individual. One of our main goals is to involve our students in various activities in order to increase their interest, develop their critical thinking and become versatile citizens.
                We hope that each of our students will become a specialist who will contribute to the further development of society and will be able to do their job carefully at different times.</p>

                <p> If you have any questions, please visit our Web page
                  if you are interested, come to our Lyceum and work
                  you can get to know him better.</p>

                <p>Sincerely, director of the Innovation Lyceum <b>"LEADER" </b>
                  <b>Esirkegenuly Erkin</b></p>
              </div>
            </div>
        </div>
      </div>


{% endblock %}