{% extends './base.html' %}
{% load static %}
 {% block lan %}
                    <li><a class="dropdown-item" href="{% url 'kundylyktar' %}">қаз</a></li>
                    <li><a class="dropdown-item" href="{% url 'kundylyktar_eng' %}">en</a></li>
{% endblock %}

{% block content %}



      <!-- --------------------KIRISPE--------------- -->
      <div class="kirispe">
        <a href="#">
          <img src="{% static 'img/kirispe.png'%}" alt="">
          <div class="title">
            <div class="container">
              <h1>OUR GUIDING PRINCIPLES</h1>
            </div>
          </div>
        </a>
      </div>





      <!-- ---------------------------INTRO------------------ -->

      <div class="container">
        <div class="intro">

          <img src="{% static 'img/children.png'%}" height="80%" alt="">


          <div class="text">
              <div class="about">
                <p style="margin-top: 5%;"><b>Goal</b></p>
                <p>Purpose our goal is to educate the future youth of the country, who are eager for education and are eager for full development.</p>

                <p ><b>Our motto</b></p>
                <p>"Quality education, conscious upbringing"</p>

                <p ><b></b></p>
                <p></p>

                <p><b>Our values</b></p>
                <p>The innovative Lyceum "LEADER" pays special attention to the values listed below. These values are formed by such qualities as morality and equality, justice and truthfulness, culture and honesty. These values are inherent in many cultural environments.</p>

                <ul>
                    <li><p>International achievements</p></li>
                    <li><p>honesty</p></li>
                    <li><p>search</p></li>
                    <li><p>reflection</p></li>
                    <li><p>empathy</p></li>
                </ul>


                

              </div>
            </div>
        </div>
      </div>

      <div class="container">
        <div class="about2">
            <p ><b>Philosophy</b></p>
        <p>We aim to improve the academic and social abilities of students. We strive to increase the responsibility of our students for the surrounding environment.</p>
        <p>The goal of our curriculum is to maintain a balance between the desire for a strong academic foundation and the psychological support that leads our students to become active apprentices, relying on independent thinking, behavioral development and emotional stability. In order to become a Global Citizen, our students must support and accept such concepts as intercultural understanding, tolerance and respect.</p>
        </div>
      </div>


{% endblock %}