{% extends './base.html' %}
{% load static %}
 {% block lan %}
                    <li><a class="dropdown-item" href="{% url 'kuntizbe' %}">қаз</a></li>
                    <li><a class="dropdown-item" href="{% url 'kuntizbe_eng' %}">en</a></li>
{% endblock %}

{% block content %}

      <!-- --------------------KIRISPE--------------- -->
      <div class="kirispe">
        <a href="#">
          <img src="{% static 'img/kirispe.png'%}" alt="">
          <div class="title">
            <div class="container">
              <h1>ANNUAL CALENDAR</h1>
            </div>
          </div>
        </a>
      </div>





      <!-- ---------------------------INTRO------------------ -->

      <div class="container">
        <div class="intro">

          <!-- <div class="text"> -->
              <div class="about">
                <h1><b>Annual calendar</b></h1>
                <p>Taking into account the requirements of the school community and the international program, the school calendar plan is divided into <b>4 quarters</b>
                  covers <b> 33 weeks</b> and begins the first week of September and ends in the first week of June. 2022-2023 academic year
                  the following period:</p>

                
                <ul>
                  <li><p>1st quarter: from September 1, 2022 to October 28, 2022 (9 weeks)</p></li>
                    <li><p>2nd quarter: from November 7, 2022 to December 29, 2022 (8 weeks)</p></li>
                    <li><p>3rd quarter: from January 9, 2023 to March 17, 2023 (6 weeks)</p></li>
                    <li><p>4th quarter: from March 27, 2023 to June 1, 2023 (10 weeks)</p></li>
                </ul>

                <p>You can see the quarterly holidays and official weekends of the 2022-2023 academic year in our annual calendar.</p>


                

              </div>
            </div>
        </div>
      </div>


{% endblock %}