{% extends './base.html' %}
{% load static %}
 {% block lan %}
                    <li><a class="dropdown-item" href="{% url 'kuzhat' %}">қаз</a></li>
                    <li><a class="dropdown-item" href="{% url 'kuzhat_eng' %}">en</a></li>
{% endblock %}

{% block content %}
              


      <!-- --------------------KIRISPE--------------- -->
      <div class="kirispe">
        <a href="#">
          <img src="{% static 'img/kirispe.png'%}" alt="">
          <div class="title">
            <div class="container">
              <h1>ACCEPTANCE DOCUMENT</h1>
            </div>
          </div>
        </a>
      </div>





      <!-- ---------------------------INTRO------------------ -->

      <div class="container">
        <div class="intro">

          <!-- <div class="text"> -->
              <div class="about" style="width: 100%;">
                <b><p>Acceptance documents</p></b>

                <ol>
                    <li><p>Birth certificate</p></li>
                    <li><p>Personal file</p></li>
                    <li><p>Health passport form 026</p></li>
                    <li><p>Application for admission</p></li>
                    <li><p>Plates</p></li>
                    <li><p>Blue file</p></li>
                    <li><p>Previous school dropout pass</p></li>
                    <li><p>Contract</p></li>
                </ol>

                

              </div>
            </div>
        </div>
      </div>


{% endblock %}