{% extends './base.html' %}
{% load static %}
 {% block lan %}
                    <li><a class="dropdown-item" href="{% url 'pupils' %}">қаз</a></li>
                    <li><a class="dropdown-item" href="{% url 'pupils_eng' %}">en</a></li>
{% endblock %}

{% block content %}
      <!-- --------------------KIRISPE--------------- -->
      <div class="kirispe">
        <a href="#">
          <img src="{% static 'img/kirispe.png'%}" alt="">
          <div class="title">
            <div class="container">
              <h1>STUDENTS</h1>
            </div>
          </div>
        </a>
      </div>





      
<!-- ----------------STUFF ----------------->
<div class="container">

    <div class="pupils">
      <div class="boxes">
    
          <div class="gallery-category" id="1">
            <img src="{% static 'img/pupils.png'%}" alt="">
            <div class="about-member">
                <h1></h1>
            </div>
          </div>

          <div class="gallery-category" id="2">
            <img src="{% static 'img/pupils.png'%}" alt="">
            <div class="about-member">
                <h1></h1>
            </div>
          </div>

          <div class="gallery-category" id="3">
            <img src="{% static 'img/pupils3.png'%}" alt="">
            <div class="about-member">
                <h1></h1>
            </div>
          </div>


      </div>

      <div class="boxes2">

        <div class="gallery-category" id="1">
          <img src="{% static 'img/pupils4.png'%}" alt="">
          <div class="about-member">
              <h1></h1>
          </div>
        </div>

        <div class="gallery-category" id="2">
          <img src="{% static 'img/pupils5.png'%} alt="">
          <div class="about-member">
              <h1></h1>
          </div>
        </div>

        <div class="gallery-category" id="3">
          <img src="{% static 'img/pupils6.png'%}" alt="">
          <div class="about-member">
              <h1></h1>
          </div>
        </div>
  

    </div>

    </div>
  </div>
  
  
  {% endblock %}