{% extends './base.html' %}
{% load static %}
 {% block lan %}
                    <li><a class="dropdown-item" href="{% url 'suraktar' %}">қаз</a></li>
                    <li><a class="dropdown-item" href="{% url 'suraktar_eng' %}">en</a></li>
{% endblock %}

{% block content %}

      <!-- --------------------KIRISPE--------------- -->
      <div class="kirispe">
        <a href="#">
          <img src="{% static 'img/kirispe.png'%}" alt="">
          <div class="title">
            <div class="container">
              <h1>FREQUENTLY ASKED QUESTION</h1>
            </div>
          </div>
        </a>
      </div>





      <!-- ---------------------------INTRO------------------ -->

      <div class="container">
        <div class="intro">

          <!-- <div class="text"> -->
              <div class="about">
                <ul>
                    <li><b><p>What curriculum does the school offer?</p></b></li>
                    <p>The curriculum includes the domestic curriculum and the programs of Educational Innovation lyceums. The program covers the stages from Grades 1 to 9.</p>

                    <li><b><p>What is the language of instruction?</p></b></li>
                    <p>Training program in the state language</p>

                    <li><b><p>How many students are educated at the school?</p></b></li>
                    <p>Currently, our school has about 250 students.</p>

                    <li><b><p>What time does classes start and end at school?</p></b></li>
                    <p>The lesson starts at 9.10 and ends at 16.55.</p>

                    <li><b><p>Does the school offer bus transportation services?</p></b></li>
                    <p>Yes, our school offers bus transportation services.</p>

                    <li><b><p>What is included in the school tuition fee?</p></b></li>
                    <p>The tuition fee includes:</p>

                      <p><b>1. </b> tuition fee (only daily classes, additional classes only; extracurricular activities, etc.are not included in the tuition fee)</p>
                      <p><b>2. </b> 3 meals a day</p>
                      <p><b>3. </b> transportation</p></p>

                    <li><b><p>How many students can study the most in a class?</p></b></li>
                    <p>The number of students in the class varies but does not exceed 18 students.</p>

                    <li><b><p>Does the school accept students during the school year?</p></b></li>
                    <p>We accept students at the beginning of the school year and during the inter-quarter holidays. But sometimes some of our classes may not have a place for <a href= "https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSKjsvCwjcQqQWLCsfmGjvXHzwCHbSHwntHQbjWFkFhSKPbqGhFWtkKhpLwztqrWZbMfXkdJ">leader.edu.kz</a> you can write a letter to the address and send all your requests related to the reception.​</p>

                    <li><b><p>Does the school offer assistance to students with special needs?</p></b></li>
                    <p>We strive to ensure that the needs and opportunities of students who claim are consistent with the proposed programs. During the admission process, the state of health of applicants is also taken into account. The following medical contraindications can be a reason for rejection:</p>
                    <ul>
                      <li><p>deviations in the mental development of the child;</p></li>
                      <li><p>diseases associated with abnormalities of the nervous system;</p></li>
                      <li><p>various chronic diseases or physical disabilities that make it difficult to master the material and perform a higher educational load;</p></li>
                      <li><p>infectious diseases.</p></li>
                    </ul>

                    <li><b><p>Is wearing a school uniform mandatory?</p></b></li>
                    <p>Wearing a school uniform is a symbol of pride, a unique feature of the school and an integral part
                      of being a student. Students of the innovative Lyceum" Leader " are required to dress neatly for
                      school purposes. The student must wear clothes that do not interfere with learning, are harmless to health,
                      meet safety requirements, and meet the general standard. Therefore, all students are required to wear school uniforms.</p>

                    <li><b><p>Does the school offer extracurricular activities?</p></b></li>
                    <p>In our school, participation in extracurricular activities is very important for the development of students. Therefore, our school offers different clubs depending on the needs of students. Participation in circles is not mandatory, but it is desirable that the student attend one of these.</p>

                </ul>



              </div>
            </div>
        </div>
      </div>

{% endblock %}