{% extends './base.html' %}
{% load static %}
 {% block lan %}
                    <li><a class="dropdown-item" href="{% url 'uirme' %}">қаз</a></li>
                    <li><a class="dropdown-item" href="{% url 'uirme_eng' %}">en</a></li>
{% endblock %}

{% block content %}

              


      <!-- --------------------KIRISPE--------------- -->
      <div class="kirispe">
        <a href="#">
          <img src="{% static 'img/kirispe.png'%}" alt="">
          <div class="title">
            <div class="container">
              <h1>ACTIVITIES</h1>
            </div>
          </div>
        </a>
      </div>





      <!-- ---------------------------INTRO------------------ -->

      <div class="container">
        <div class="intro">

          <!-- <div class="text"> -->
              <div class="about" style="width: 100%;">
                <b><p>Activities</p></b>

                <p>It is very important for us to provide our students with various extracurricular activities, because through these activities, our students can become independent, reliable and unique members of the school community.Most of our clubs are held after school by specialists who come from outside the school. The circles to be carried out may alternate, but generally include the following:</p>

                <ul>
                    <li><p>Dance</p></li>
                    <li><p>Spraking</p></li>
                    <li><p>Taekwondo</p></li>
                    <li><p>Crafts</p></li>
                    <li><p>Football</p></li>
                    <li><p>Chees</p></li>
                    <li><p>Dombyra</p></li>
                    <li><p>Intellectum</p></li>
                    <li><p>Robotics</p></li>
                    <li><p>Togyzkumalak</p></li>
                </ul>

                <p>The schedule of circles can change from one per quarter. In case of opening a new circle, the student and parents are notified by the school administration.</p>

                

              </div>
            </div>
        </div>
      </div>


{% endblock %}