{% extends './base_kz.html' %}
{% load static %}
{% block lan %}
                    <li><a class="dropdown-item" href="{% url 'akimshilik' %}">қаз</a></li>
                    <li><a class="dropdown-item" href="{% url 'akimshilik_eng' %}">en</a></li>
{% endblock %}


{% block content %}



      <!-- --------------------KIRISPE--------------- -->
      <div class="kirispe">
        <a href="#">
          <img src="{% static 'img/kirispe.png'%}" alt="">
          <div class="title">
            <div class="container">
              <h1>МЕКТЕП ӘКІМШІЛІГІ</h1>
            </div>
          </div>
        </a>
      </div>








        <!-- ----------------STUFF ----------------->
<div class="container">

    <div class="stuff">
      <h1 id="title_stuff">Біздің ұжым</h1>
      <div class="boxes">

          <div class="member" id="1">
            <img src="{% static 'img/director.jpg'%}" alt="">
            <div class="about-member">
                <h1>Еркін Есіркегенұлы</h1>
                <p>Директор</p>
            </div>
          </div>

          <div class="member" id="2">
            <img src="{% static 'img/Aigerim.jpg'%}" alt="">
            <div class="about-member">
                <h1>Өтегенова Әйгерім Ерболқызы</h1>
                <p>Директордың оқу ісі жөніндегі орынбасары</p>
            </div>
          </div>

          <div class="member" id="3">
            <img src="{% static 'img/Zholdasbaev.jpg'%}" alt="">
            <div class="about-member">
                <h1>Жолдасбаев Жасұлан Тасболатұлы</h1>
                <p>Директордың қоғамдық жұмыстар жөніндегі орынбасары</p>
            </div>
          </div>

          <div class="member" id="4">
            <img src="{% static 'img/Akerke.jpg'%}" alt="">
            <div class="about-member">
                <h1>Ақылбек Дариға Махамбетқызы</h1>
                <p>Директордың тәрбие ісі жөніндегі орынбасары</p>
            </div>
          </div>




      </div>

      <div class="boxes">

        <div class="member" id="1">
          <img src="{% static 'img/bukhalter.jpg'%}" alt="">
          <div class="about-member">
              <h1>Жомартова Назым</h1>
              <p>Бухгалтер</p>
          </div>
        </div>

        <div class="member" id="2">
          <img src="{% static 'img/HR.jpg'%}" alt="">
          <div class="about-member">
              <h1>Мусабекова Асем</h1>
              <p>HR</p>
          </div>
        </div>

        <div class="member" id="3">
          <img src="{% static 'img/medbike.jpg'%}" alt="">
          <div class="about-member">
              <h1>Құдайберген Айдана</h1>
              <p>Медбике</p>
          </div>
        </div>

        <div class="member" id="4">
          <img src="{% static 'img/kassir.jpg'%}" alt="">
          <div class="about-member">
              <h1>Мәлік Сұңқар</h1>
              <p>Координатор кассир</p>
          </div>
        </div>




    </div>

    <div class="boxes">

        <div class="member" id="1">
          <img src="{% static 'img/SMM.jpg'%}" alt="">
          <div class="about-member">
              <h1>Ерубай Динара Бақытбекқызы</h1>
              <p>SMM</p>
          </div>
        </div>




    </div>

    </div>
  </div>




  <div class="container">

    <div class="akimshilik-text">
        <h1>Оқу бағдарламасы</h1>
    <p>Оқу бағдарламасы отандық оқу бағдарламасын және Білім Инновация лицейлерінің бағдарламаларын қамтиды. Бағдарлама 1-9 сыныптар
        аралығындағы кезеңдерді қамтиды.Лицейімізде сабақтан тыс іс-шараларға қатысу оқушылардың дамуы үшін өте маңызды болып
        табылады. Сондықтан да мектебіміз оқушылардың түрлі мұқтаждықтарына қарай әр түрлі үйірмелер ұсынылады.Ағылшын деңгейлерін
        дамыту үшін спикинг,есептерді шығаруға бағытталған интеллектум, құндылықтарды үйретуге арналған домбыра және де көптеген сынып
        тан тыс үйірмелеріміз бар. Аталмыш оқу бағдарламасы сапалы білім стандартына сәйкес әзірленіп, сырттай бағаланатындықтан
        ата-аналардың балаларының үлгерімі жайлы алатын есептерге толықтай сенуіне негіз бар.</p>

    <h1>Бағалау жүйесі</h1>
    <p><b>«LEADER»</b> Инновациялық лицейінде оқушылардың оқу үлгерімі «Kundelik» жүйесі арқылы қадағаланады, сондай-ақ бұл жүйені
        мұғалімдер, оқушылар және ата-аналар leader.edu.kz интернеттегі сілтемесі арқылы бірдей қолдана алады. Мектеп әкімшілігі тарапынан
        белгіленген бағалау жүйесі емтихан, үй жұмысы, сынып жұмысы және практикалық жұмысты қамтитын құрамдас бөліктерден тұрады.
        Oсы құрамдас бөліктер сынып және пәндерге қарай түрлі коэффициенттерге ие. Әр құрамдас бөлік үшін оқушыларға ең жоғарғы болып
        саналатын 100 ұпайдан белгілі бір ұпай беріледі. Мұғалімдер әр құрамдас бөлікке саны шектеусіз баға бере алады.</p>
    </div>

</div>





{% endblock %}