<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leader.edu</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    

                    <!-------------------- HEADER  -------------------->


    <div class="header-social-icons">
        <div class="container">
            <div class="header-social">
                <div class="social">
                    <a href="https://www.instagram.com/leader.edu.kz/" target="_blank"><img src="img/instagram.png" width="16px;" alt=""></a>
                </div>
                <div class="social">
                    <a href="#"><img src="img/facebook.png" width="16px;" alt=""></a>
                </div>
                <div class="social">
                    <a href="#"><img src="img/youtube.png" width="16px;" alt=""></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="header-contacts">
            <div class="logo">
                <a href="index.html"><img src="img/logo.png" width="120px;" alt=""></a>
            </div>

            <ul class="nav justify-content-end">
                <li class="nav-item" >
                    <p class="nav-link"><img src="img/phone.png" width="20px;" alt=""> +77078006383</p>
                </li>

                <li class="nav-item">
                    <p class="nav-link"><img src="img/mail.png"  alt=""> Too-liderxxi@mail.ru</p>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" style="padding-bottom: 25px;" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">қаз</a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="index.html">қаз</a></li>
                    <li><a class="dropdown-item" href="index-en.html">en</a></li>
                  </ul>
                </li>
              </ul>
    
        </div>
    </div>


    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container">
          <button class="navbar-toggler" style="margin-left: 80%" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><img src="img/menu.png" alt="" width="32px;"></span>
          </button>
          <div class="collapse navbar-collapse"  id="navbarNavDropdown">
            <ul class="navbar-nav" style="width: 80%; justify-content: space-between; margin: auto;">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="index.html">БАСТЫ БЕТ</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    БІЗ ЖАЙЛЫ
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="kirispe.html">КІРІСПЕ СӨЗ</a></li>
                  <li><a class="dropdown-item" href="kundylyktar.html">БАСШЫЛЫҚ ПРИНЦИПТЕРІМІЗ</a></li>
                  <li><a class="dropdown-item" href="akimshilik.html">МЕКТЕП ӘКІМШІЛІГІ</a></li>
                  <li><a class="dropdown-item" href="kuntizbe.html">ЖЫЛДЫҚ КҮНТІЗБЕ</a></li>
                  <li><a class="dropdown-item" href="gallery.html">ГАЛЕРЕЯ</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    МЕКТЕПКЕ ҚАБЫЛДАУ
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="suraktar.html">ЖИІ ҚОЙЫЛАТНЫ СҰРАҚТАР</a></li>
                  <li><a class="dropdown-item" href="forma.html">МЕКТЕП ФОРМАСЫ</a></li>
                  <li><a class="dropdown-item" href="kuzhat.html">ҚАБЫЛДАУ ҚҰЖАТ</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    БАСТАУЫШ
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="teachers.html">ҰСТАЗДАР</a></li>
                  <li><a class="dropdown-item" href="tarbie_zhumysy.html">ТӘРБИЕ ЖҰМЫСЫ</a></li>
                  <li><a class="dropdown-item" href="uirme.html">САБАҚТАН ТЫС ЖҰМЫСТАР</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    ЖОҒАРҒЫ МЕКТЕП
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="teachers.html">ҰСТАЗДАР</a></li>
                  <li><a class="dropdown-item" href="tarbie_zhumystary2.html">ТӘРБИЕ ЖҰМЫСЫ</a></li>
                  <li><a class="dropdown-item" href="oob-zhumys.html">ӨЗІН - ӨЗІ БАСҚАРУ КЕҢЕСІ</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    АТА - АНА
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="ata-ana.html">АТА - АНАМЕН ЖҰМЫС</a></li>
                  <li><a class="dropdown-item" href="akeler.html">ӘКЕЛЕР КЕҢЕСІ</a></li>
                  <li><a class="dropdown-item" href="ata-ana-kom.html">АТА - АНАЛАР КОМИТЕТІ</a></li>
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="bailanys.html">БАЙЛАНЫС</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>



      <!--------------------- CAROUSEL ------------------------>



      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="img/main-page.png" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/principle.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="img/kirispe.png" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Алдыңғы</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Келесі</span>
        </button>
      </div>



      <!-- -----------------ABOUT US-------------- -->
      <div class="container">
        <div class="intro">

          <img src="img/principle.png" alt="">


          <div class="text">
            <div class="title">
              <h1>Шымкент қаласындағы <b>LEADER</b>
                Инновациялық лицейіне
                қош келдіңіздер</h1>
              </div>
              <div class="about">
                <p><b>«LEADER»</b> Инновациялық лицейінің веб парақшасына қош келіңіздер.</p>

              <p>Біз белсенді мектеп қауымдастығына ие болғанымызбен мақтан етеміз.
                  Басты мақсаттарымыздың бірі оқушыларымыздың қызығушылығын
                  арттыру, олардың сыни тұрғыдан ойлауын дамыту және жан-жақты
                  азамат болып қалыптасуы мақсатында түрлі іс-шараларға қатыстыру
                  болып табылады. Сондай-ақ әр оқушымыз қоғамның ілгері дамуына
                  өз үлесін қосады деп үміттенеміз.</p>

                <p> Веб парақшамызды жан-жақты зерттеп, мектебімізге де келіп
                  жұмысымызбен жақынырақ танысуға шақырамыз.</p>
              </div>
            </div>
        </div>
      </div>


      <!-- ----------------FEATURES----------------->
<div class="container">

  <div class="features">
    <h1>Біздің артықшылықтарымыз</h1>
    <div class="boxes">
  
      <div class="feature">
        <img src="img/social-care.png" alt="">
        <b><p>Шынайы қамқорлық пен
          қолдау</p></b>
      </div>
  
      <div class="feature">
        <img src="img/teacher-feature.png" alt="">
        <b><p>Өз ісін сүйетін ұстаздар</p></b>
      </div>
  
      <div class="feature">
        <img src="img/graduation-hat.png" alt="">
        <b><p>Білім инновация оқу
          бағдарламалары</p></b>
      </div>
  
      <div class="feature">
        <img src="img/eng-feature.png" alt="">
        <b><p>Деңгейлік ағылшын тілі</p></b>
      </div>
  
    </div>
  </div>

</div>



<!-- ----------------STATISTICS ----------------->
<div class="container">

  <div class="statistics">
    <h1 class="title">Қысқаша статистика туралы</h1>
    <div class="boxes">
  
      <div class="statistic">
        <img src="img/badge.png" alt="">
        <b><h1>60</h1></b>
        <p>Жүлде</p>
      </div>
  
      <div class="statistic">
        <img src="img/trophy.png" alt="">
        <b><h1>7</h1></b>
        <p>Кубок</p>
      </div>
  
      <div class="statistic">
        <img src="img/class.png" alt="">
        <b><h1>77</h1></b>
        <p>Оқытушы</p>
      </div>
  
      <div class="statistic">
        <img src="img/classroom.png" alt="">
        <b><h1>250</h1></b>
        <p>Оқушы</p>
      </div>
  
    </div>
  </div>

</div>



<!-- ----------------STUFF ----------------->
<div class="container">

  <div class="stuff">
    <h1 id="title_stuff">Біздің ұжым</h1>
    <div class="boxes">
  
        <div class="member" id="1">
          <img src="img/director.jpg" alt="">
          <div class="about-member">
              <h1>Еркін Есіркегенұлы</h1>
              <p>Директор</p>   
          </div>
        </div>
  
        <div class="member" id="2">
          <img src="img/Aigerim.jpg" alt="">
          <div class="about-member">
              <h1>Өтегенова Әйгерім Ерболқызы</h1>
              <p>Директордың оқу ісі жөніндегі орынбасары</p>
          </div>
        </div>
  
        <div class="member" id="3">
          <img src="img/Zholdasbaev.jpg" alt="">
          <div class="about-member">
              <h1>Жолдасбаев Жасұлан Тасболатұлы</h1>
              <p>Директордың қоғамдық жұмыстар жөніндегі орынбасары</p>
          </div>
        </div>
  
        <div class="member" id="4">
          <img src="img/Akerke.jpg" alt="">
          <div class="about-member">
              <h1>Ақылбек Дариға Махамбетқызы</h1>
              <p>Директордың тәрбие ісі жөніндегі орынбасары</p>
          </div>
        </div>

    </div>
  </div>
</div>




<!-- ------------------COMMENTS---------------- -->
<div class="comments">
  <a href="http://localhost:8080/profile">
    <img src="img/comments.png" alt="">
    <div class="title">
      <div class="container">
        <h1>Пікірлер</h1>
      </div>
    </div>
  </a>
</div>






<!-- -------------------------FOOTER---------------  -->
<div class="container">
  <div class="podval">
  
    <div class="footer-contacts">
        <div class="h4"><h4>Бізбен байланыс орнатыңыз</h4></div>

        <ul class="nav justify-content-end">

          <li class="nav-item" >
            <p class="nav-link"><img src="img/mark.png" width="20px;" alt=""> Шымкент қаласы Майлы Қожа көшесі 150</p>
          </li>

          <li class="nav-item" >
              <p class="nav-link"><img src="img/phone.png" width="20px;" alt=""> +77078006383</p>
          </li>

          <li class="nav-item" >
            <p class="nav-link"><img src="img/homephone.png" width="20px;" alt=""> +77078006383</p>
          </li>

          <li class="nav-item">
              <p class="nav-link"><img src="img/mail.png"  alt=""> Too-liderxxi@mail.ru</p>
          </li>

        </ul>

    </div>

    <div class="kundelik">
      <img src="img/kundelik.png" alt="">
    </div>

    <div class="map">
      <img src="img/map.png" alt="">
    </div>

  </div>  
</div>

<div class="blueline">

</div>





</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>




</html>