{% extends './base_kz.html' %}
{% load static %}
{% block lan %}
                   <li><a class="dropdown-item" href="{% url 'kirispe' %}">қаз</a></li>
                    <li><a class="dropdown-item" href="{% url 'kirispe_eng' %}">en</a></li>

{% endblock %}


{% block content %}





      <!-- --------------------KIRISPE--------------- -->
      <div class="kirispe">
        <a href="#">
          <img src="{% static 'img/kirispe.png'%}" alt="">
          <div class="title">
            <div class="container">
              <h1>КІРІСПЕ СӨЗ</h1>
            </div>
          </div>
        </a>
      </div>





      <!-- ---------------------------INTRO------------------ -->

      <div class="container">
        <div class="intro">

          <img src="{% static 'img/principle2.png'%}" alt="">


          <div class="text">
              <div class="about">
                <p style="margin-top: 5%;"><b>«LEADER»</b> Инновациялық лицейінің веб парақшасына қош келдіңіздер.</p>

                <p><b>«LEADER»</b> Инновациялық лицейі- өз білім алушыларына отандық оқу бағдарламасын және Білім Инновация лицейлерінің бағдарламаларының негізінде білім беретін орда.</p>

              <p>Біз белсенді мектеп қауымдастағына ие болғанымызды мақтан етеміз. Құндылықтарды негізге ала отырып әр оқушымыздың жеке тұлға боп қалыптасуына үлес қосамыз. Басты мақсаттарымыздың бірі оқушыларымыздың қызығушылығын арттыру, олардың сыни тұрғыдан ойлауын дамыту және жан-жақты азамат болып қалыптасуы мақсатында түрлі іс-шараларға қатыстыру.
                Әр оқушымыздың қоғамның ілгері дамуына өз үлесін қосатын және өз ісін әр уақытта тиянақты атқара алатын маман болады деп сенеміз.</p>

                <p> Веб парақшамызды жан-жақты зерттеп, егер де сұрағыңыз
                    не қызығушылығыңыз болса, лицейімізге де келіп жұмысымызбен
                    жақынырақ таныссаңыз болады.  </p>

                <p>Құрметпен, <b>«LEADER»</b> Инновациялық Лицейінің  директоры
                    <b>Есіркегенұлы Еркін</b></p>
              </div>
            </div>
        </div>
      </div>



{% endblock %}