{% extends './base_kz.html' %}
{% load static %}
{% block lan %}
                   <li><a class="dropdown-item" href="{% url 'kundylyktar' %}">қаз</a></li>
                    <li><a class="dropdown-item" href="{% url 'kundylyktar_eng' %}">en</a></li>

{% endblock %}


{% block content %}




      <!-- --------------------KIRISPE--------------- -->
      <div class="kirispe">
        <a href="#">
          <img src="{% static 'img/kirispe.png'%}" alt="">
          <div class="title">
            <div class="container">
              <h1>БАСШЫЛЫҚ ПРИНЦИПТЕРІМІЗ</h1>
            </div>
          </div>
        </a>
      </div>





      <!-- ---------------------------INTRO------------------ -->

      <div class="container">
        <div class="intro">

          <img src="{% static 'img/children.png'%}" height="80%" alt="">


          <div class="text">
              <div class="about">
                <p style="margin-top: 5%;"><b>Мақсаты</b></p>
                <p>Мақсаты Біздің мақсатымыз білім алуға құштар, әрі жан жақты дамуға ынтық еліміздің болашақ жастарын тәрбиелеу болып табылады.</p>

                <p ><b>Ұранымыз</b></p>
                <p>«Сапалы білім,саналы тәрбие»</p>

                <p ><b></b></p>
                <p></p>

                <p><b>Құндылықтарымыз</b></p>
                <p>«LEADER» Инновациялық лицейі төменде көрсетілген құндылықтарға аса көңіл бөледі. Бұл құндылықтар адамгершілік пен теңдік, әділдік пен шыншылдық, мәдениеттілік пен адалдық сияқты қасиеттерден құралады. Осы құндылықтар көптеген мәдени ортаға тән.</p>

                <ul>
                    <li><p>Халықаралық жетістіктер</p></li>
                    <li><p>Адалдық</p></li>
                    <li><p>Ізденіс</p></li>
                    <li><p>Рефлексия</p></li>
                    <li><p>Эмпатия</p></li>
                </ul>


                

              </div>
            </div>
        </div>
      </div>

      <div class="container">
        <div class="about2">
            <p ><b>Философиясы</b></p>
        <p>Біз оқушылардың академиялық пен әлеуметтік қабілеттерін шыңдауды көздейміз. Оқушыларымыздың айналадағы ортаға деген жауапкершілігін арттыруға ұмтыламыз.</p>
        <p>Оқу бағдарламамыздың мақсаты – мықты академикалық іргені қалау мен тәуелсіз ойлау қабілеті, мінез-құлықты дамыту және эмоционалды тұрақтылыққа сүйеніп, оқушыларымызды белсенді шәкірт болуға жетелейтін психологиялық қолдау арасындағы теңдікті ұстап тұру. Жаһанды көзқарасты азамат болу үшін оқушыларымыз мәдениетаралық түсіністік, толеранттылық пен сыйластық секілді ұғымдарды қолдап, қабылдауы тиіс.</p>
        </div>
      </div>


{% endblock %}