<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leader.edu</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    
    <link rel="stylesheet" href="../static/css/main.css">
</head>
<body>
    

                    <!-------------------- HEADER  -------------------->


                    <div class="header-social-icons">
                      <div class="container">
                          <div class="header-social">
                              <div class="social">
                                  <a href="https://www.instagram.com/leader.edu.kz/" target="_blank"><img src="img/instagram.png" width="16px;" alt=""></a>
                              </div>
                              <div class="social">
                                  <a href="#"><img src="img/facebook.png" width="16px;" alt=""></a>
                              </div>
                              <div class="social">
                                  <a href="#"><img src="img/youtube.png" width="16px;" alt=""></a>
                              </div>
                          </div>
                      </div>
                  </div>
              
                  <div class="container">
                      <div class="header-contacts">
                          <div class="logo">
                              <a href="index.html"><img src="img/logo.png" width="120px;" alt=""></a>
                          </div>
              
                          <ul class="nav justify-content-end">
                              <li class="nav-item" >
                                  <p class="nav-link"><img src="img/phone.png" width="20px;" alt=""> +77078006383</p>
                              </li>
              
                              <li class="nav-item">
                                  <p class="nav-link"><img src="img/mail.png"  alt=""> Too-liderxxi@mail.ru</p>
                              </li>
              
                              <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" style="padding-bottom: 25px;" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">қаз</a>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="index.html">қаз</a></li>
                                  <li><a class="dropdown-item" href="index-en.html">en</a></li>
                                </ul>
                              </li>
                            </ul>
                  
                      </div>
                  </div>
              
              
                  <nav class="navbar navbar-expand-lg" id="navbar">
                      <div class="container">
                        <button class="navbar-toggler" style="margin-left: 80%" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                          <span class="navbar-toggler-icon"><img src="img/menu.png" alt="" width="32px;"></span>
                        </button>
                        <div class="collapse navbar-collapse"  id="navbarNavDropdown">
                          <ul class="navbar-nav" style="width: 80%; justify-content: space-between; margin: auto;">
                            <li class="nav-item">
                              <a class="nav-link" aria-current="page" href="index.html">БАСТЫ БЕТ</a>
                            </li>
              
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  БІЗ ЖАЙЛЫ
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="kirispe.html">КІРІСПЕ СӨЗ</a></li>
                                <li><a class="dropdown-item" href="kundylyktar.html">БАСШЫЛЫҚ ПРИНЦИПТЕРІМІЗ</a></li>
                                <li><a class="dropdown-item" href="akimshilik.html">МЕКТЕП ӘКІМШІЛІГІ</a></li>
                                <li><a class="dropdown-item" href="kuntizbe.html">ЖЫЛДЫҚ КҮНТІЗБЕ</a></li>
                                <li><a class="dropdown-item" href="gallery.html">ГАЛЕРЕЯ</a></li>
                              </ul>
                            </li>
              
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  МЕКТЕПКЕ ҚАБЫЛДАУ
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="suraktar.html">ЖИІ ҚОЙЫЛАТНЫ СҰРАҚТАР</a></li>
                                <li><a class="dropdown-item" href="forma.html">МЕКТЕП ФОРМАСЫ</a></li>
                                <li><a class="dropdown-item" href="kuzhat.html">ҚАБЫЛДАУ ҚҰЖАТ</a></li>
                              </ul>
                            </li>
              
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  БАСТАУЫШ
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="teachers.html">ҰСТАЗДАР</a></li>
                                <li><a class="dropdown-item" href="tarbie_zhumysy.html">ТӘРБИЕ ЖҰМЫСЫ</a></li>
                                <li><a class="dropdown-item" href="uirme.html">САБАҚТАН ТЫС ЖҰМЫСТАР</a></li>
                              </ul>
                            </li>
              
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  ЖОҒАРҒЫ МЕКТЕП
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="teachers.html">ҰСТАЗДАР</a></li>
                                <li><a class="dropdown-item" href="tarbie_zhumystary2.html">ТӘРБИЕ ЖҰМЫСЫ</a></li>
                                <li><a class="dropdown-item" href="oob-zhumys.html">ӨЗІН - ӨЗІ БАСҚАРУ КЕҢЕСІ</a></li>
                              </ul>
                            </li>
              
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  АТА - АНА
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="ata-ana.html">АТА - АНАМЕН ЖҰМЫС</a></li>
                                <li><a class="dropdown-item" href="akeler.html">ӘКЕЛЕР КЕҢЕСІ</a></li>
                                <li><a class="dropdown-item" href="ata-ana-kom.html">АТА - АНАЛАР КОМИТЕТІ</a></li>
                              </ul>
                            </li>
              
                            <li class="nav-item">
                              <a class="nav-link" aria-current="page" href="bailanys.html">БАЙЛАНЫС</a>
                            </li>
              
                          </ul>
                        </div>
                      </div>
                    </nav>


      


      <!-- --------------------KIRISPE--------------- -->
      <div class="kirispe">
        <a href="#">
          <img src="img/kirispe.png" alt="">
          <div class="title">
            <div class="container">
              <h1>БАСШЫЛЫҚ ПРИНЦИПТЕРІМІЗ</h1>
            </div>
          </div>
        </a>
      </div>





      <!-- ---------------------------INTRO------------------ -->

      <div class="container">
        <div class="intro">

          <img src="img/children.png" height="80%" alt="">


          <div class="text">
              <div class="about">
                <p style="margin-top: 5%;"><b>Мақсаты</b></p>
                <p>Мақсаты Біздің мақсатымыз білім алуға құштар, әрі жан жақты дамуға ынтық еліміздің болашақ жастарын тәрбиелеу болып табылады.</p>

                <p ><b>Ұранымыз</b></p>
                <p>«Сапалы білім,саналы тәрбие»</p>

                <p ><b></b></p>
                <p></p>

                <p><b>Құндылықтарымыз</b></p>
                <p>«LEADER» Инновациялық лицейі төменде көрсетілген құндылықтарға аса көңіл бөледі. Бұл құндылықтар адамгершілік пен теңдік, әділдік пен шыншылдық, мәдениеттілік пен адалдық сияқты қасиеттерден құралады. Осы құндылықтар көптеген мәдени ортаға тән.</p>

                <ul>
                    <li><p>Халықаралық жетістіктер</p></li>
                    <li><p>Адалдық</p></li>
                    <li><p>Ізденіс</p></li>
                    <li><p>Рефлексия</p></li>
                    <li><p>Эмпатия</p></li>
                </ul>


                

              </div>
            </div>
        </div>
      </div>

      <div class="container">
        <div class="about2">
            <p ><b>Философиясы</b></p>
        <p>Біз оқушылардың академиялық пен әлеуметтік қабілеттерін шыңдауды көздейміз. Оқушыларымыздың айналадағы ортаға деген жауапкершілігін арттыруға ұмтыламыз.</p>
        <p>Оқу бағдарламамыздың мақсаты – мықты академикалық іргені қалау мен тәуелсіз ойлау қабілеті, мінез-құлықты дамыту және эмоционалды тұрақтылыққа сүйеніп, оқушыларымызды белсенді шәкірт болуға жетелейтін психологиялық қолдау арасындағы теңдікті ұстап тұру. Жаһанды көзқарасты азамат болу үшін оқушыларымыз мәдениетаралық түсіністік, толеранттылық пен сыйластық секілді ұғымдарды қолдап, қабылдауы тиіс.</p>
        </div>
      </div>



      <!-- -------------------------FOOTER---------------  -->
<div class="container">
    <div class="podval">
    
      <div class="footer-contacts">
          <div class="h4"><h4>Бізбен байланыс орнатыңыз</h4></div>
  
          <ul class="nav justify-content-end">
  
            <li class="nav-item" >
              <p class="nav-link"><img src="img/mark.png" width="20px;" alt=""> Шымкент қаласы Майлы Қожа көшесі 150</p>
            </li>
  
            <li class="nav-item" >
                <p class="nav-link"><img src="img/phone.png" width="20px;" alt=""> +77078006383</p>
            </li>
  
            <li class="nav-item" >
              <p class="nav-link"><img src="img/homephone.png" width="20px;" alt=""> +77078006383</p>
            </li>
  
            <li class="nav-item">
                <p class="nav-link"><img src="img/mail.png"  alt=""> Too-liderxxi@mail.ru</p>
            </li>
  
          </ul>
  
      </div>
  
      <div class="kundelik">
        <img src="img/kundelik.png" alt="">
      </div>
  
      <div class="map">
        <img src="img/map.png" alt="">
      </div>
  
    </div>  
  </div>
  
  <div class="blueline">
  
  </div>



    </body>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
    
    
    
    </html>