 {% extends './base_kz.html' %}
{% load static %}
{% block lan %}
                   <li><a class="dropdown-item" href="{% url 'kuntizbe' %}">қаз</a></li>
                    <li><a class="dropdown-item" href="{% url 'kuntizbe_eng' %}">en</a></li>

{% endblock %}


{% block content %}



      <!-- --------------------KIRISPE--------------- -->
      <div class="kirispe">
        <a href="#">
          <img src="{% static 'img/kirispe.png'%}" alt="">
          <div class="title">
            <div class="container">
              <h1>ЖЫЛДЫҚ КҮНТІЗБЕ</h1>
            </div>
          </div>
        </a>
      </div>





      <!-- ---------------------------INTRO------------------ -->

      <div class="container">
        <div class="intro">

          <!-- <div class="text"> -->
              <div class="about">
                <h1><b>Жылдық күнтізбе</b></h1>
                <p>Мектеп қауымдастығы мен халықаралық бағдарламаның талаптарын ескере отырып, мектептің күнтізбелік жоспары <b>4 тоқсанға</b> бөлінген
                    <b> 33</b> аптаны қамтиды және қыркүйек айының алғашқы аптасы басталып, маусым айының бірінші аптасында аяқталады. 2022-2023 оқу жылы
                    төмендегі мерзім аралығында өтеді:</p>

                
                <ul>
                    <li><p>1-ші тоқсан: 1 қыркүйек 2022 мен 28 қазан 2022 аралығында (9 апта)</p></li>
                    <li><p>2-ші тоқсан: 7 қараша 2022 мен 29 желтоқсан 2022 аралығында (8 апта)</p></li>
                    <li><p>3-ші тоқсан: 9 қаңтар 2023 мен 17 наурыз 2023 аралығында (6 апта)</p></li>
                    <li><p>4-ші тоқсан: 27 наурыз 2023 мен 1 маусым 2023 аралығында (10 апта)</p></li>
                </ul>

                <p>2022-2023 оқу жылының тоқсандық демалыс пен ресми демалыс күндерін жылдық күнтізбемізден көре аласыздар.</p>


                

              </div>
            </div>
        </div>
      </div>


{% endblock %}