 {% extends './base_kz.html' %}
{% load static %}
{% block lan %}
                   <li><a class="dropdown-item" href="{% url 'kuzhat' %}">қаз</a></li>
                    <li><a class="dropdown-item" href="{% url 'kuzhat_eng' %}">en</a></li>

{% endblock %}


{% block content %}


      <!-- --------------------KIRISPE--------------- -->
      <div class="kirispe">
        <a href="#">
          <img src="{% static 'img/kirispe.png'%}" alt="">
          <div class="title">
            <div class="container">
              <h1>ҚАБЫЛДАУ ҚҰЖАТТАРЫ</h1>
            </div>
          </div>
        </a>
      </div>





      <!-- ---------------------------INTRO------------------ -->

      <div class="container">
        <div class="intro">

          <!-- <div class="text"> -->
              <div class="about" style="width: 100%;">
                <b><p>Қабылдау құжаттары</p></b>

                <ol>
                    <li><p>Туу туралы куәлігі</p></li>
                    <li><p>Жеке іс қағазы</p></li>
                    <li><p>Денсаулық паспорты форма 026</p></li>
                    <li><p>Қабылдау туралы өтініш</p></li>
                    <li><p>Табельдері</p></li>
                    <li><p>Көк файл</p></li>
                    <li><p>Алдыңғы мектептен кету туралы талоны</p></li>
                    <li><p>Договор</p></li>
                </ol>

                

              </div>
            </div>
        </div>
      </div>



  {% endblock %}