{% extends './base_kz.html' %}
{% load static %}
{% block lan %}
                   <li><a class="dropdown-item" href="{% url 'oob_zhumys' %}">қаз</a></li>
                    <li><a class="dropdown-item" href="{% url 'oob_zhumys_eng' %}">en</a></li>

{% endblock %}


{% block content %}




      <!-- --------------------KIRISPE--------------- -->
      <div class="kirispe">
        <a href="#">
          <img src="{% static 'img/kirispe.png'%}" alt="">
          <div class="title">
            <div class="container">
              <h1>ӨЗІН - ӨЗІ БАСҚАРУ ЖҰМЫСТАРЫ</h1>
            </div>
          </div>
        </a>
      </div>





      <!-- ---------------------------INTRO------------------ -->

      <div class="container">
        <div class="intro">

          <!-- <div class="text"> -->
              <div class="about" style="width: 100%;">
                <b><p>Өзін өзі басқару жұмысы</p></b>

                <p>Лицейімізде оқушылар көшбасшылығы оқу үрдісінің маңызды бөлігі болып табылады. Біз әр оқушының ресми не бейресми түрде көшбасшылық етуге әлеуеті бар екеніне сенеміз. Мұндағы мақсатымыз – оқушыларға этикалық және тиімді көшбасшылық етуді ұғындыру, сондай-ақ, келешекте өзіне сенімді көшбасшы болуға қажет қабілеттерін бағалап, оны ары қарай дамыту.Кеңестің мақсаты мектеп қауымдастығының ортақ игілігі үшін мектеп әкімшілігі, ұжымы мен ата-аналарымен тығыз қарым-қатынаста жұмыс жасау болып табылады.</p>

                <p>Оқушылар кеңесінің қызметі:</p>
                <ul>
                    <li><p>Мектеп оқушыларының көзқарасын мектеп әкімшілігіне білдіру;</p></li>
                    <li><p>Мектеп ішінде тығыз қарым-қатынас орнатуды ынталандыру;</p></li>
                    <li><p>Оқушылардың үлгерімі мен дамуына үлес қосу;</p></li>
                    <li><p>Жаңа оқушылардың мектепке бейімделуіне жәрдемдесу;</p></li>
                    <li><p>Мектептің спорттық-мәдени іс-шараларын ұйымдастыруға атсалысу;</p></li>
                    <li><p>Қайырымдылық мақсатты іс-шаралар ұйымдастыру;</p></li>
                    <li><p>Басқа мектептердегі өзін-өзі басқару кеңестерімен әріптестік орнату.</p></li>
                </ul>

              </div>
            </div>
        </div>
      </div>



      <!--------------------- CAROUSEL ------------------------>



      <div id="carouselExampleIndicators" style="margin-bottom: 10%;" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/tarbie_zhumysy2.png'%}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/principle.jpg'%}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/kirispe.png'%}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Алдыңғы</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Келесі</span>
        </button>
      </div>

{% endblock %}