 {% extends './base_kz.html' %}
{% load static %}
{% block lan %}
                   <li><a class="dropdown-item" href="{% url 'suraktar' %}">қаз</a></li>
                    <li><a class="dropdown-item" href="{% url 'suraktar_eng' %}">en</a></li>

{% endblock %}


{% block content %}





      <!-- --------------------KIRISPE--------------- -->
      <div class="kirispe">
        <a href="#">
          <img src="{% static 'img/kirispe.png'%}" alt="">
          <div class="title">
            <div class="container">
              <h1>ЖИІ ҚОЙЫЛАТЫН СҰРАҚ</h1>
            </div>
          </div>
        </a>
      </div>





      <!-- ---------------------------INTRO------------------ -->

      <div class="container">
        <div class="intro">

          <!-- <div class="text"> -->
              <div class="about">
                <ul>
                    <li><b><p>Мектеп қандай оқу бағдарламасын ұсынады?</p></b></li>
                    <p>Оқу бағдарламасы отандық оқу бағдарламасын және Білім Инновация лицейлерінің бағдарламаларын қамтиды. Бағдарлама 1-9 сыныптар аралығындағы кезеңдерді қамтиды.</p>

                    <li><b><p>Оқыту тілі қандай?</p></b></li>
                    <p>Оқыту бағдарламасы мемлекеттік тілде</p>

                    <li><b><p>Мектепте қанша оқушы білім алады?</p></b></li>
                    <p>Қазіргі таңда мектебімізде 250 шамасында оқушы бар.</p>

                    <li><b><p>Мектепте сабақ қай уақытта басталып, қай уақытта аяқталады?</p></b></li>
                    <p>Сабақ 9.10-да басталып, 16.55-те аяқталады.</p>

                    <li><b><p>Мектеп автобуспен тасымалдау қызметін ұсынады ма?</p></b></li>
                    <p>Иә, мектебіміз автобуспен тасымалдау қызметін ұсынады.</p>

                    <li><b><p>Мектеп оқу ақысына не кіреді?</p></b></li>
                    <p>Оқу ақысына төмендегілер кіреді:</p>

                      <p><b>1. </b> оқу ақысы (тек күнделікті сабақтар,қосымша сабақтар ғана; сабақтан тыс іс-шаралар, т.б. оқу ақысына кірмейді)</p>
                      <p><b>2. </b> 3 мезгіл тамақ</p>
                      <p><b>3. </b> тасымалдау</p></p>

                    <li><b><p>Сыныпта ең көп қанша оқушы оқи алады?</p></b></li>
                    <p>Сыныптағы оқушы саны әртүрлі бірақ 18 оқушыдан аспайды.</p>

                    <li><b><p>Мектеп оқу жылы барысында оқушы қабылдайды ма?</p></b></li>
                    <p>Біз оқушыларды оқу жылының басында және тоқсан аралық демалыстарда қабылдаймыз. Бірақ кей кезде кейбір сыныптарымызда орын болмауы мүмкін сол үшін <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSKjsvCwjcQqQWLCsfmGjvXHzwCHbSHwntHQbjWFkFhSKPbqGhFWtkKhpLwztqrWZbMfXkdJ">leader.edu.kz</a> адресіне хат жазып, қабылдауға байланысты барлық сауалдарыңызды жолдай аласыз.​</p>

                    <li><b><p>Мектеп көмекке мұқтаж отбасыларға арнайы көмек ұсынады ма?</p></b></li>
                    <p>Талап білдірген оқушылардың қажеттіліктері мен мүмкіндіктерінің ұсынылған бағдарламаларға сәйкес болуын қамтамасыз етуге тырысамыз. Оқуға қабылдау барысында талапкерлердің денсаулық жағдайы да ескеріледі. Келесі медициналық қарсы көрсетілімдер оқуға қабылдамаудың себебі бола алады:</p>
                    <ul>
                      <li><p>баланың психикалық дамуындағы ауытқушылықтар;</p></li>
                      <li><p>жүйке жүйесінің ауытқуымен байланысты аурулар;</p></li>
                      <li><p>материалды меңгеруге және жоғары оқу жүктемесін орындауға қиындық туғызатын әртүрлі созылмалы аурулар немесе физикалық кемістіктер;</p></li>
                      <li><p>жұқпалы аурулар.</p></li>
                    </ul>

                    <li><b><p>Мектеп формасын кию міндетті ме?</p></b></li>
                    <p>Мектеп формасын кию мақтаныш нышаны, мектептің бірегей ерекшелігі және оқушы болудың ажырамас бөлігі болып табылады. «Leader» Инновациялық лицейінің оқушылары мектеп мақсатына сай ұқыпты киінуі қажет. Оқушының сабақ оқуына кедергі келтірмейтін, денсаулыққа зиянсыз, қауіпсіздік талаптарына жауап бере алатын, жалпы стандартқа сай киімдерді киюі қажет. Сол себептен барлық оқушылар мектеп формасын киюге міндетті.</p>

                    <li><b><p>Мектеп сабақтан тыс іс-шаралар ұсынады ма?</p></b></li>
                    <p>Мектебімізде сабақтан тыс іс-шараларға қатысу оқушылардың дамуы үшін өте маңызды болып табылады. Сондықтан да мектебіміз оқушылардың түрлі мұқтаждықтарына қарай әр түрлі үйірмелер ұсынылады. Үйірмелерге қатысу міндетті емес, бірақ оқушы осылардың біреуіне қатысқаны жөн.</p>

                </ul>



              </div>
            </div>
        </div>
      </div>



 {% endblock %}