 {% extends './base_kz.html' %}
{% load static %}
{% block lan %}
                   <li><a class="dropdown-item" href="{% url 'tarbie_zhumystary2' %}">қаз</a></li>
                    <li><a class="dropdown-item" href="{% url 'tarbie_zhumystary2_eng' %}">en</a></li>


{% endblock %}


{% block content %}


      <!-- --------------------KIRISPE--------------- -->
      <div class="kirispe">
        <a href="#">
          <img src="{% static 'img/kirispe.png'%}" alt="">
          <div class="title">
            <div class="container">
              <h1>ТӘРБИЕ ЖҰМЫСЫ</h1>
            </div>
          </div>
        </a>
      </div>





      <!-- ---------------------------INTRO------------------ -->

      <div class="container">
        <div class="intro">

          <!-- <div class="text"> -->
              <div class="about" style="width: 100%;">
                <b><p>ТӘРБИЕ ЖҰМЫСЫ</p></b>

                <p>Бастауыш мектепте оқушыларымызға қамқор орта қалыптастыра отыра, оқушы мен ата-анасының бірге оқып үйренуіне жағдай жасауға тырысамыз.Оқушыларымыздың алдындағы мүмкін болған барлық кедергілерді жоюға ат салысып, оларды қазіргі заманғы білім алуына және қабілеттерін қалыптастыруына себепкер болуды жөн көреміз.</p>

                <p>Бастауыш мектептегі тәрбие жүйесі аясында мектептегі тәртіпті ынталандыру жүйесі арқылы қадағалап, реттеп отырамыз. Бұл жүйеде оқушылар жасаған жағымды әрекеттері үшін тиісті ұпай жинайды. Сонымен қатар, мұғалімдеріміз тәрбие сағаттары кезінде тәрбие бағдарламасының мазмұнына сай сабақтар өткізеді.</p>

                <p>
                    Тәрбие бағдарламамыз төмендегі мақсаттарды іске асыруды көздейді:</p>

                <ul>
                    <li><p>Оқушылардың өзін және басқаларын жақсы түсінуі</p></li>
                    <li><p>Қарым-қатынас құру мен жалғасыру үшін қажетті қабілеттерді меңгеру</p></li>
                    <li><p>Өзін-өзі дұрыс бағалауды үйрету</p></li>
                    <li><p>Өмірдегі тиісті құндылықтар мен моральдық кодексті қалыптастыру</p></li>
                    <li><p>Шешім қабылдау мен сенімді болуға қажетті қабілеттерді меңгеру</p></li>
                    <li><p>Салауатты өмір салтын ұстануды үйрену</p></li>
                </ul>

              </div>
            </div>
        </div>
      </div>



      <!--------------------- CAROUSEL ------------------------>



      <div id="carouselExampleIndicators" style="margin-bottom: 10%;" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
         <div class="carousel-item active">
            <img src="{% static 'img/tarbie_zhumysy2.png'%}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/header2.jpg'%}" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/header3.jpg'%}" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Алдыңғы</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Келесі</span>
        </button>
      </div>



  {% endblock %}