{% extends './base_kz.html' %}
{% load static %}
{% block lan %}

<li><a class="dropdown-item" href="{% url 'uirme' %}">қаз</a></li>
                    <li><a class="dropdown-item" href="{% url 'uirme_eng' %}">en</a></li>


{% endblock %}


{% block content %}


      <!-- --------------------KIRISPE--------------- -->
      <div class="kirispe">
        <a href="#">
          <img src="{% static 'img/kirispe.png'%}" alt="">
          <div class="title">
            <div class="container">
              <h1>ҮЙІРМЕЛЕР</h1>
            </div>
          </div>
        </a>
      </div>





      <!-- ---------------------------INTRO------------------ -->

      <div class="container">
        <div class="intro">

          <!-- <div class="text"> -->
              <div class="about" style="width: 100%;">
                <b><p>ҮЙІРМЕЛЕР</p></b>

                <p>Оқушыларымызға түрлі сабақтан тыс іс-шаралар ұсыну біздер үшін өте маңызды болып табылады, себебі бұл іс-шаралар арқылы оқушыларымыз тәуелсіз, сенімді және мектеп қауымдастығының бірегей мүшесі бола алады. Үйірмелеріміздің көбі мектептен тыс келетін мамандар тарапынан сабақтан кейінгі уақытта өткізіледі. Жүргізілетін үйірмелер ауысып отыруы мүмкін, бірақ жалпы төмендегілерді қамтиды:</p>

                <ul>
                    <li><p>Би</p></li>
                    <li><p>Спикинг</p></li>
                    <li><p>Таэквандо</p></li>
                    <li><p>Қолөнер</p></li>
                    <li><p>Футбол</p></li>
                    <li><p>Шахмат</p></li>
                    <li><p>Домбыра</p></li>
                    <li><p>Интеллектум</p></li>
                    <li><p>Робототехника</p></li>
                    <li><p>Тоғызқұмалақ</p></li>
                </ul>

                <p>Үйірмелер кестесі тоқсанда бір өзгеруі мүмкін. Жаңа үйірме ашылған жағдайда, оқушы мен ата-аналар мектеп әкімшілігі тарапынан хабарландырылады.</p>



              </div>
            </div>
        </div>
      </div>



{% endblock %}
